<%= form_for(@plasmid_probe) do |f| %>
  <% if @plasmid_probe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plasmid_probe.errors.count, "error") %> prohibited this plasmid_probe from being saved:</h2>

      <ul>
      <% @plasmid_probe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :plasmid_id %><br>
    <%= f.number_field :plasmid_id %>
  </div>
  <div class="field">
    <%= f.label :probe_id %><br>
    <%= f.number_field :probe_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
