<p id="notice"><%= notice %></p>

<p>
  <strong>id:</strong>
  <%= @probe.id %>
</p>


<p>
  <strong>Number:</strong>
  <%= @probe.number %>
</p>

<p>
  <strong>Date:</strong>
  <%= @probe.date %>
</p>

<p>
  <strong>plasmid:</strong>
  <%= @probe.plasmids.name %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @probe.volume %>
</p>

<%= link_to 'Edit', edit_probe_path(@probe) %> |
<%= link_to 'Back', probes_path %>
