<!DOCTYPE html>
<html>
<head>
  <title>ReprogExp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
   <%= link_to 'Plasmid', plasmids_path %>
  <%= link_to 'Virus', viri_path %>
</div>
<%= yield %>
  <div id="footer">
    <a href="http://nru.spbstu.ru/srw_government/lmn/" style="color: #ffffff">Лаборатория молекулярной нейродегенерации (ЛМН)</a>
  </div>
</body>
</html>
