<!DOCTYPE html>
<html>
<head>
  <title>ReprogExp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <a class="top_nav_link active" id="head_plasmid" <%= link_to 'Plasmid', plasmids_path %> onclick="return nav.go(this, event, {search: true, noframe: true});" onmouseover="gSearch.preload();" onmousedown="tnActive(this)"></a>

  <a class="top_nav_link active" id="head_virus" href="http://localhost:3000/viri/" onclick="return nav.go(this, event, {search: true, noframe: true});" onmouseover="gSearch.preload();" onmousedown="tnActive(this)"></a>
</div>
<%= yield %>
  <div id="footer">
    <a href="http://nru.spbstu.ru/srw_government/lmn/" style="color: #ffffff">Лаборатория молекулярной нейродегенерации (ЛМН)</a>
  </div>
</body>
</html>
